header {
    background: #222e3c;
}

footer {
    background-color: #222e3c !important;
    color: white;
}

.beamzgrey {
    background-color: #f3f3f4 !important;
}

.beamz-bg {
    background-color: #304781 !important;
    color: #ffffff;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #212529;
}

.s_comparisons_decimal {
    font-size: 80%;
}

.s_comparisons_price {
    font-size: 200%;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #365192;
    border-color: #334c8a;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #365192;
    border-color: #334c8a;
}

@media (max-width: 991px) {
    body {
        margin-top:110px;
    }
}

@media (min-width: 991px) {
    body {
        margin-top:70px;
    }
}

img[alt=blogpicture] { 
    max-width: 100%; 
}

.feature-card {
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .bg-light-alt {
    background-color: #f8f9fa;
  }

  .university-logo {
    max-width: 100%; height: auto; max-height: 150px;
  }

.card-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.post-meta {
    font-size: 0.875rem;
    color: #888;
}
.read-more {
    color: #334c8a;
    font-weight: 500;
    text-decoration: none;
}
.blog-tag {
    color: #334c8a;
    text-decoration: none;
}
.read-more:hover {
    text-decoration: underline;
}

.card-horizontal {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.card-horizontal img {
    width: 160px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-body {
    flex: 1;
}

@media (max-width: 576px) {
    .card-horizontal {
        flex-direction: column;
    }
    .card-horizontal img {
        width: 100%;
        height: 160px;
        border-radius: 0.5rem 0.5rem 0 0;
    }
}

.feature-card {
    border-radius: 15px; /* Coins arrondis */
    border: none; /* Pas de bordure */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin-bottom: 20px; /* Espacement entre les cartes */
    height: 100%; /* Pour que toutes les cartes aient la même hauteur */
    color: #304781;;
}
.feature-icon {
    font-size: 2.5rem; /* Taille de l'icône */
    margin-bottom: 15px;
    color: #304781; /* Couleur Bootstrap primary */
}
.carousel-item {
    height: 350px; /* Ajuste cette valeur selon tes besoins */
}