{% extends "website-base.html" %}
{% load i18n %}

{% block canonicalurl %}/aboutus{% endblock %}
{% block title %}About US{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>    
    <h1>{% trans 'Who we are' %}</h1>
    <div class="row">
        <div class="row s_nb_column_fixed">
            <div class="col-lg-6 pt24 pb24">
              <div class="row s_col_no_resize s_col_no_bgcolor">
                <div class="col-lg-4 pb16 o_not_editable" contenteditable="false">
                  <img alt="" src="/static/img/vde.png" class="img-fluid rounded-circle mx-auto" contenteditable="true" loading="lazy" style="">
                </div>
                <div class="col-lg-8">
                  <h4><a href="https://www.linkedin.com/in/deno%C3%ABl-vincent-7012479/">Denoël Vincent</a></h4>
                  <p>
                    {% trans 'Vincent is passionate about structures. He teaches Structural Analysis, statics, and dynamics at the University of Liège where he received his PhD degree in Civil Engineering.' %}
                    {% trans 'He travelled across many places in Europe, Asia, Australia, and the US to sharpen his knowledge in structural analysis under various loads and conditions.' %}
                    {% trans 'He also founded the Structural and Stochastic Dynamics lab.' %}
                          </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pt24 pb24">
              <div class="row s_col_no_resize s_col_no_bgcolor">
                <div class="col-lg-4 pb16 o_not_editable" contenteditable="false">
                  <img alt="" src="/static/img/nse.png" class="img-fluid rounded-circle mx-auto" contenteditable="true" loading="lazy" style="">
                </div>
                <div class="col-lg-8">
                  <h4><a href="https://www.linkedin.com/in/nicolas-seinlet-a078011/">Seinlet Nicolas</a></h4>
                  <p>
                    {% trans 'Nicolas is a developer. He received his Diploma in Computer Science from the University of Mons.' %}<br/>
                    {% trans 'His area of expertises are the databases and the performance of IT systems.' %}
                  </p>
                </div>
              </div>
            </div>
        </div>
           
    </div>

    <h1>{% trans 'What we do' %}</h1>

        <div class="row align-items-center">
          <div class="col-lg-6 pt16 pb16">
            <h2>
              {% trans 'Finite elements analysis' %}
</h2>
            <p>
              {% trans 'From smaller structures to bigger ones, our platform makes analyses a breeze.' %}<br>
              {% trans 'Web based, this tool allows you to perform finite elements analyses from anywhere, at any time.' %}<br>
              {% trans 'You can also collaborate with your colleagues.' %}<br>
</p>
            <p>
              <a href="/features" class="btn btn-primary mb-2">{% trans 'Features' %}</a>
            </p>
          </div>
          <div class="col-lg-6 pt16 pb16">
            <img src="/static/img/milleau_model.png" class="img img-fluid mx-auto" alt="">
          </div>
        </div>



        <div class="row align-items-center">
          <div class="col-lg-12 pt16 pb16">
            <img src="/static/img/vladan-raznatovic-2hYPDSKKbMc-unsplash.jpg" class="img img-fluid mx-auto" alt="">
          </div>
        </div>

</div>
{% endblock %}