{% extends "website-base.html" %}
{% load i18n %}

{% block title %}Pricing BeamZ{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <section class="s_text_image pt48 pb0" data-snippet="s_text_image">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 pt16 pb16">
              <h2>
      Are you thinking of selling?
  </h2>
              <p>
      Make an appointment for a free valuation of your property. We visit the property, advise you on a realistic asking price and we explain our way of working. <br>
      You can decide in all freedom whether or not you would like to work with us for the sale of your property.
  </p>
              <p>
                <a href="#" class="btn btn-primary mb-2">En savoir plus</a>
              </p>
            </div>
            <div class="col-lg-6 pt16 pb16">
              <img src="/static/img/pexels-pixabay-7931.jpg" class="img img-fluid mx-auto" alt="">
            </div>
          </div>
        </div>
    </section>

    <section class="s_text_image pt32 o_cc o_cc1 pb48 pt48" data-snippet="s_image_text">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 pt16 pb16">
              <img src="/static/img/pexels-pixabay-53176.jpg" class="img img-fluid mx-auto" alt="">
            </div>
            <div class="col-lg-6 pt16 pb16">
              <h2>
      Bored with your interior?
  </h2>
              <p>
      Our decoration experts are at your disposal to guide you step by step in the design of your interior and will give you the best advice for your interior design.
  </p>
              <p>
      Discover our tailor-made services to embellish the decoration of your home.
  </p>
              <p>
                <a href="#" class="btn btn-primary">Explore our services</a>
              </p>
            </div>
          </div>
        </div>
    </section>

    
    <h1>Who we are</h1>
    <div class="row">
        <div class="row s_nb_column_fixed">
            <div class="col-lg-6 pt24 pb24">
              <div class="row s_col_no_resize s_col_no_bgcolor">
                <div class="col-lg-4 pb16 o_not_editable" contenteditable="false">
                  <img alt="" src="/static/img/ceo.png" class="img-fluid rounded-circle mx-auto" contenteditable="true" loading="lazy" style="">
                </div>
                <div class="col-lg-8">
                  <h4>Tony Fred, CEO</h4>
                  <p>
                              Fondateur et visionnaire en chef, Tony est le moteur de l'entreprise. Il aime
rester occupé en participant au développement des stratégies logicielles,
marketing et d'expérience client.
                          </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pt24 pb24">
              <div class="row s_col_no_resize s_col_no_bgcolor">
                <div class="col-lg-4 pb16 o_not_editable" contenteditable="false">
                  <img alt="" src="/static/img/cto.png" class="img-fluid rounded-circle mx-auto" contenteditable="true" loading="lazy" style="">
                </div>
                <div class="col-lg-8">
                  <h4>Mich Stark, COO</h4>
                  <p>Mich adore relever des défis. Fort de son expérience de plusieurs années en tant que directeur commercial dans l'industrie du logiciel, Mich a aidé l'entreprise à en arriver là où elle en est aujourd'hui. Mich fait partie des meilleurs esprits.</p>
                </div>
              </div>
            </div>
        </div>
           
    </div>
</div>
{% endblock %}