{% extends "website-base.html" %}
{% load i18n %}
{% load markdown %}
{% get_current_language as LANGUAGE_CODE %}

{% block canonicalurl %}/blog{% endblock %}
{% block title %}{% trans 'Blog' %}{% endblock %}

{% block menuclass-blog %}text-white{% endblock %}

{% block main %}
<main class="height-100 d-flex flex-grow-1 height-100">
    
    <div class="container">
        <h1 class="text-center">{% block blogtitle %}{% trans 'Blog posts' %}{% endblock %}</h1>
        <div class="row">
            <div class="col-md-9">
                {% block blogcontent %}
                <div class="row g-4">
                    {% for blog in blogs %}
                    <div class="col-12 col-md-12">
                        <div class="card h-100 card-horizontal">
                        <img src="/media/{{ blog.blog_img }}" class="card-img" alt="Post Image">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{% if LANGUAGE_CODE == 'fr' and blog.title_fr %}{{ blog.title_fr }}{% else %}{{ blog.title }}{% endif %}</h5>
                            <p class="post-meta">{% trans 'Published' %} {{ blog.publication_date }}{% for tag in blog.tags.all %} · <a class="blog-tag" href="/{{LANGUAGE_CODE}}/blog/tag/{{ tag.name }}">#{% if LANGUAGE_CODE == 'fr' and tag.name_fr %}{{ tag.name_fr }}{% else %}{{ tag.name }}{% endif %}</a>{% endfor %}</p>
                            {% if LANGUAGE_CODE == 'fr' and blog.description_fr %}
                                <p class="card-text">{{ blog.description_fr|render_markdown }}</p>
                            {% else %}
                                <p class="card-text">{{ blog.description|render_markdown }}</p>
                            {% endif %}
                            <a class="read-more" href="/{{LANGUAGE_CODE}}/blog/post/{{blog.id}}/{% if LANGUAGE_CODE == 'fr' and blog.title_fr %}{{ blog.title_fr }}{% else %}{{ blog.title }}{% endif %}/">{% trans 'Read more' %} →</a>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Publication dates' %}</h2>
                        <dl class="row">
                            {% for year in pub_dates %}
                                <dt class="col-sm-3">{{ year.year }}</dt>
                                <dd class="col-sm-9">
                                {% for month in year.month %}
                                    <a class="blog-tag" href="/{{LANGUAGE_CODE}}/blog/month/{{year.year}}/{{month.m}}/">{{month.m}}</a> <span class="text-secondary fw-lighter">({{month.qty}})</span><br/>
                                {% endfor %}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Tags' %}</h2>
                        <ul>
                            {% for tag in blog_tags %}
                            <li><a class="blog-tag" href="/{{LANGUAGE_CODE}}/blog/tag/{{ tag.name }}">#{% if LANGUAGE_CODE == 'fr' and tag.name_fr %}{{ tag.name_fr }}{% else %}{{ tag.name }}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br/>
            </div>
                
        </div>
    </div>
</main>
{% endblock %}