{% extends "website-base.html" %}
{% load i18n %}
{% load markdown %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Faq' %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans 'Frequently asked questions' %}</h1>
      {% for section in faq_sections %}
      <h2>{% if LANGUAGE_CODE == 'fr' and section.section.name_fr %}{{ section.section.name_fr }}{% else %}{{ section.section.name }}{% endif%}</h2>
      <div class="accordion" id="accordion{{section.id}}">
        {% for faq in section.qr %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{faq.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{faq.id}}" aria-expanded="true" aria-controls="collapse{{faq.id}}">
              {% if LANGUAGE_CODE == 'fr' and faq.question_fr %}{{ faq.question_fr }}{% else %}{{ faq.question }}{% endif %}
              <!-- <span class="text-secondary font-sm">{% if LANGUAGE_CODE == 'fr' and faq.short_answer_fr %}{{ faq.short_answer_fr }}{% else %}{{ faq.short_answer }}{% endif %}</span> -->
            </button>
          </h2>
          <div id="collapse{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{faq.id}}" data-bs-parent="#accordion{{section.id}}">
            <div class="accordion-body">
              {% if LANGUAGE_CODE == 'fr' and faq.answer_fr %}{{ faq.answer_fr|render_markdown }}{% else %}{{ faq.answer|render_markdown }}{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br/>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
