{% extends "website-base.html" %}
{% load i18n %}

{% block title %}Pricing BeamZe{% endblock %}

{% block menuclass-pricing %}text-white{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>{% trans 'Pricing' %}</h1>
    <br/>
    
    <div class="row">
        <div class="col-lg-4 s_col_no_bgcolor text-center pt32 pb16" data-name="Box">
          <div class="card bg-200  shadow-lg">
            <h4 class="card-header"><i class="fa-solid fa-building-columns"></i> {% trans 'Academic' %}</h4>
            <div class="card-body text-center">
              <h2 class="card-title">
                <span class="s_comparisons_currency">€</span>
                <span class="s_comparisons_price">
                  <b>5</b>
                </span>
                <span class="s_comparisons_decimal">.00</span>
              </h2>
              <small>/ {% trans 'academic year' %}</small>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{% trans 'One user' %}</li>
              <li class="list-group-item">{% trans 'Unlimited structures number' %}</li>
              <li class="list-group-item">{% trans 'No support' %}</li>
              <li class="list-group-item">{% trans 'Free for ' %}<a href="{% url 'universities' %}">{% trans 'affiliated shools/universities' %}</a></li>
            </ul>
            <div class="card-footer">
              <p>
                <i>{% trans 'Available after student card check.' %}</i>
              </p>
              <a href="/register" class="btn btn-primary mb-2">{% trans 'Start now' %}</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 s_col_no_bgcolor text-center pt48 pb16" data-name="Box">
          <div class="card beamz-bg shadow-lg">
            <h4 class="card-header"><i class="fa-solid fa-building"></i> {% trans 'Professional' %}</h4>
            <div class="card-body">
              <h2 class="card-title">
                <span class="s_comparisons_currency">€</span>
                <span class="s_comparisons_price">
                  <b>45</b>
                </span>
                <span class="s_comparisons_decimal">.00</span>
              </h2>
              <small>/ {% trans 'year' %}</small>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{% trans 'One user' %}</li>
              <li class="list-group-item">{% trans 'Unlimited analysis' %}</li>
              <li class="list-group-item">{% trans 'Unlimited structures number' %}</li>
              <li class="list-group-item">{% trans 'Email support' %}</li>
              <li class="list-group-item">{% trans 'Most popular' %}</li>
            </ul>
            <div class="card-footer">
              <p>
                <i>{% trans 'Available after payment.' %}</i>
              </p>
              <a href="/register" class="btn btn-primary mb-2">{% trans 'Start now' %}</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 s_col_no_bgcolor text-center pt32 pb16" data-name="Box">
          <div class="card bg-secondary shadow-lg">
            <h4 class="card-header"><i class="fa-solid fa-industry"></i> {% trans 'Enterprise' %}</h4>
            <div class="card-body text-center">
              <h2 class="card-title">
                <span class="s_comparisons_currency">€</span>
                <span class="s_comparisons_price">
                  <b>50</b>
                </span>
                <span class="s_comparisons_decimal">.00</span>
              </h2>
              <small>/ {% trans 'user' %} / {% trans 'year' %}</small>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{% trans 'Multiple users' %}</li>
              <li class="list-group-item">{% trans 'Share structures among users' %}</li>
              <li class="list-group-item">{% trans 'Social portal' %}</li>
              <li class="list-group-item">{% trans 'Email support' %}</li>
            </ul>
            <div class="card-footer">
              <p>
                <i>{% trans 'Contact us for terms and conditions.' %}</i>
              </p>
              <a href="/contactus" class="btn btn-primary mb-2">{% trans 'Contact us' %}</a>
            </div>
          </div>
        </div>
      </div>

    <h1>{% trans 'Features comparision' %}</h1>

    <div class="table-responsive">
      <table class="table table-striped fa-check text-successtable-border border-light">
        <thead class="border-light">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"><strong>{% trans 'Academic' %}</strong></th>
            <th scope="col"><strong>{% trans 'Professional' %}</strong></th>
            <th scope="col"><strong>{% trans 'Enterprise' %}</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">{% trans 'Cloud based' %}</th>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <th scope="row" colspan="2">{% trans 'Structures' %}</th>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Max number of structures' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Max number of analysis' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Sharing' %}</td>
            <td><i class="fas fa-check text-success"></i><a href="#id_note_1">*1</a></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Online saving' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Offline saving' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'File history' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Multi users' %}</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <th scope="row">{% trans 'Supports' %}</th>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Hinged' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Springs' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Rolls' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <th scope="row">{% trans 'Elements' %}</th>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Beams' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Springs' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Dashpots' %}</td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Materials per structure' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Geometries per structure' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
            <td>{% trans 'Unlimited' %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans 'Support' %}</th>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Email' %}</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
            <td><i class="fas fa-check text-success"></i></td>
          </tr>
          <tr>
            <th scope="row">{% trans 'Dedicated servers' %}</th>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Dedicated compute module' %}</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i><a href="#id_note_2">*2</a></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'Dedicated storage server' %}</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-check text-success"></i><a href="#id_note_3">*3</a></td>
          </tr>
          <tr>
            <td> </td>
            <td scope="row">{% trans 'On-premise deployment' %}</td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
            <td><i class="fas fa-times text-danger"></i></td>
          </tr>
        </tbody>
      </table>

      <ol>  
        <li id="id_note_1">
          {% trans 'Sharing with students from same school/university' %}
        </li>
        <li id="id_note_2">
          {% trans 'Require additional module, ask for quote.' %}
        </li>
        <li id="id_note_3">
          {% trans 'Require additional module on your infrastructure, ask for quote.' %}
        </li>
      </ol>
    </div>

</div>
{% endblock %}