{% extends "website-base.html" %}
{% load i18n %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center beamzgrey">
  <div class="row">
  <div class="col-md-7 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">{% trans 'Structural analysis software' %}</h1>
    <p class="lead font-weight-normal">{% trans 'Analyze structures with confidence. And effortless.' %}</p>
    <a class="btn btn-outline-secondary" href="#">{% trans 'Discover features' %}</a>
  </div>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <img src="/static/img/Logo.png" class="img-fluid" alt="BeamZ">
  </div>
</div>
</div>
<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">“ … a lightweight and intuitive structural finite element model accessible directly from your web browser …”</h2>
      <p class="lead">No installations, no hassle! It is multi-platform. MacOS, Windows, Linux, … on your desktop, laptop, tablet, smartphone … we don’t mind as long as you enjoy </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" alt="multi platform ecosystem" style="width: 500px; height: 500px;" src="/static/img/multi-platform ecosystem.webp" />
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Designed for simplicity <span class="text-muted">and efficiency</span></h2>
      <p class="lead">This tool empowers engineers to analyze structures seamlessly anytime, anywhere. Experience the future of finite element modeling with unmatched convenience and performance..</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" alt="engineers working on a bridge" style="width: 500px; height: 500px;" src="/static/img/Firefly bridge.jpg" data-holder-rendered="true">
    </div>
  </div>
</div>
{% endblock %}