<!DOCTYPE html>
  <html lang="en">
    <head>   
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>BeamZ</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

        <link rel="stylesheet" href="/static/libs/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/libs/css/fontawesome.min.css"/>

    </head>
        
    <body id="page-top">      
          <script src="/static/libs/popper.min.js"></script>
          <script src="/static/libs/bootstrap.min.js"></script>
Index

    </body>

</html>